body{
    background-image: linear-gradient(120deg, rgb(246, 198, 7)20%,rgb(255, 140, 0)30%,rgb(250, 2, 2));
    width: 100vh;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 200px;
    background-image: linear-gradient(120deg, rgb(246, 198, 7)20%,rgb(255, 140, 0)30%,rgb(250, 2, 2));
    border-radius: 20px;
    box-shadow: 5px 2px 14px 0px black;

}

#hour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 27%;
    height: 80%;
    border-radius: 10px;
    
}

#minute{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 27%;
    height: 80%;
    border-radius: 10px;
}

#seconds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 27%;
    height: 80%;
    border-radius: 10px;
}

div span{
    color: white;
    font-size: 4.5rem;
    margin-bottom: 10px;
}

div span.text {
    color: aquamarine;
    font-size: 1.5rem;
}


@media screen and (max-width: 600px) {
    body{
        background-image: linear-gradient(120deg, rgb(246, 198, 7)20%,rgb(255, 140, 0)30%,rgb(250, 2, 2));
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 200px;
        height: 600px;
        background-image: linear-gradient(120deg, rgb(246, 198, 7)20%,rgb(255, 140, 0)30%,rgb(250, 2, 2));
        border-radius: 20px;
        box-shadow: 5px 2px 14px 0px black;
    
    }
    
    #hour{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 80%;
        height: 30%;
        border-radius: 10px;
        
    }
    
    #minute{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 80%;
        height: 30%;
        border-radius: 10px;
    }
    
    #seconds{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 80%;
        height: 30%;
        border-radius: 10px;
    }
    
    div span{
        color: white;
        font-size: 4.5rem;
        margin-bottom: 10px;
    }
    
    div span.text {
        color: aquamarine;
        font-size: 1.5rem;
    }
}